button {
    background: var(--color-gold);
    display: flex;
    align-items: center;
    color: #000;
    padding: 0.7rem 1.5rem;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s ease;

    &:hover {
        background: var(--color-dark-gold);
    }
}